# Python cache and compiled files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
myenv/
venv/
env/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Dataset and large files
lfw/
lfw-dataset.zip

# Logs and temporary files
*.log
*.tmp
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# VS Code / IDE settings
.vscode/
.idea/

